<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamster Kombat</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Ikkinchi rasm bo'limi -->
    <div class="screen screen2">
        <header>
            <h2>Hamster Kombat</h2>
        </header>
        <div class="content">
            <img src="diamond.png" alt="Diamond Background" class="diamond">
            <h1>Ko'proq kristallar toping</h1>
            <h3>Hamster Youtube</h3>
            <div class="tasks">
                <button>Mashhurlarning Top 6 NFT Muvaffaqiyatsizliklari +1</button>
                <button>AQSh saylovlaridagi jinnilik +1</button>
            </div>
            <h3>Vazifalar ro'yxati</h3>
            <div class="tasks">
                <button>TG kanalimizga qo'shiling +1</button>
                <button>X hisobimizni kuzatib boring +1</button>
            </div>
        </div>
        <nav>
            <button>Birja</button>
            <button>Playground</button>
            <button>AirDrop</button>
            <button>Do'stlar</button>
            <button>Vazifalar</button>
        </nav>
    </div>

</body>
</html>
