{% load static %}
<div class="bottom-nav">
    <a href="/" class="{% if 'index' in segment %} active {% endif %}"><i class="fas fa-home"></i><br>Uy</a>
    <a href="{% url 'style' %}" class="{% if 'style' in segment %} active {% endif %}"><i class="fas fa-coins"></i><br>Natija</a>
    <a href="{% url 'friends' %}" class="{% if 'friends' in segment %} active {% endif %}"><i class="fas fa-users"></i><br>Do'stlar</a>
    <a href="{% url 'share' %}" class="{% if 'share' in segment %} active {% endif %}"><i class="fas fa-tasks"></i><br>Vazifalar</a>
    <a href="" class="{% if 'share' in segment %} active {% endif %}"><i class="fas fa-comment"></i><br>Murojaat</a>
</div>