{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <img src="{% static 'images/security.png' %}" alt="logo">
        <h2>Do'stlarni taklif qilish</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="share-links">
        <a href="#" class="logo-share">
            <img src="../static/images/sovga.png" alt="friends">
            <div>
                <div class="friends">Do'stlarni taklif qiling va</div>
                <span class="olmas">⭐️</span> <span class="priz">+1000</span>  <span style="color: aliceblue;">yulduzcha oling</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
    
    <div class="friends-info">
        <div>
             <span> Siz allaqachon 👍👍👍 tomonidan taklif qilingansiz</span>
        </div>
    </div>
    <div class="list">
        <p>Siz taklif qilgan do'stlar</p>
        <i class="fa-sharp-duotone fa-solid fa-arrows-rotate"></i>
    </div>
    <div class="share-links oxiri">
        <a class="logo-share">
            <img src="{% static 'images/person.png' %}" alt="friends">
            <div>
                <div class="friends">Do'st (Ismi)</div>
                <span class="olmas">⭐️</span> <span class="priz">+2</span>
            </div>
        </a>
    </div>
{% endblock content %}