{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<!-- Profil ma'lumotlari -->
<div class="profile-info"> 
    <img src="{{ user.get_user_image_profile }}" alt="{{user.first_name}}">
    <div>
        <div class="username" id="user-info">{{user.first_name}} {{user.last_name}}</div>
        <div class="status">FIO</div>
    </div>
    <div class="profile-stats">
        <span>⭐️ {{ball.all_ball}}</span>
        <a href="#" style="color: rgb(0, 132, 255);"><i class="fas fa-cog"></i> </a>
    </div>
</div>

<!-- Asosiy rasm va statik matn -->
<div class="main-content-color">
    <h2>Maxsus tavfsiyalar</h2>
    <div class="game-list">
        <div class="game-item">
            <a href="{% url 'test_list' %}" > 
            <img src="{% static 'images/kod1.png' %}" alt="Game">
            <span>Test</span>
            <span>⭐️ x3</span>
        </a>
        </div>
        <div class="game-item">
            <a href="{% static 'file/qollanma.pdf' %}" target="_blank">
                <img src="{% static 'images/kod2.png' %}" alt="Game">
                <span>Qo'llanma</span>
                <span>⭐️ x3</span>
            </a>
        </div>
        <div class="game-item">
            <a href="https://t.me/samcyber_102_savol_javob">
            <img src="{% static 'images/kod3.png' %}" alt="Game">
            <span>Cyber group</span>
            <span>⭐️ x3</span>
        </a>
        </div>
        <div class="game-item">
            <a href="https://www.youtube.com/watch?v=4O39QOG9rc0" target="_blank">
            <img src="{% static 'images/kod4.png' %}" alt="Game">
            <span>Su'niy intilekt</span>
            <span>⭐️ x3</span>
        </a>
        </div>
    </div>
    <div>
        <img src="{{ user.get_user_image }}" class="character" alt="{{user.first_name}}">
        <div>⭐️ {{ball.all_ball}}</div>
    </div>
</div>

{% endblock content %}