{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<!-- Profil ma'lumotlari -->
<div class="profile-info"> 
    <img src="{% static 'images/2018-11-30-03-main.png' %}" alt="Profil">
    <div>
        <div class="username" id="user-info"></div>
        <div class="status">FIO</div>
    </div>
    <div class="profile-stats">
        <span>⭐️ {{ball.all_ball}}</span>
        <a href="#" style="color: rgb(0, 132, 255);"><i class="fas fa-cog"></i> </a>
    </div>
</div>

<!-- Asosiy rasm va statik matn -->
<div class="main-content-color">
    <h2>Siz bajargan missiyalar</h2>
    <div class="game-list">
        <div class="game-item">
            <a href="{% url 'test_list' %}"> 
            <img src="{% static 'images/kod1.png' %}" alt="Game">
            <span>Test</span>
            <span>⭐️ x3</span>
        </a>
        </div>
        <div class="game-item">
            <a href="#">
            <img src="{% static 'images/kod2.png' %}" alt="Game">
            <span>Kodni buzush</span>
            <span>⭐️ x3</span>
        </a>
        </div>
        <div class="game-item">
            <a href="#">
            <img src="{% static 'images/kod3.png' %}" alt="Game">
            <span>Firibgarlik</span>
            <span>⭐️ x3</span>
        </a>
        </div>
        <div class="game-item">
            <a href="#">
            <img src="{% static 'images/kod4.png' %}" alt="Game">
            <span>Su'niy intilekt</span>
            <span>⭐️ x3</span>
        </a>
        </div>
    </div>
    <div>
        <img src="{% static 'images/sovga.png' %}" class="character" alt="Hamster">
        <div>⭐️ {{ball.all_ball}}</div>
    </div>
</div>

{% endblock content %}