{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <img src="{% static 'images/security.png' %}" alt="logo">
        <h2>Ko'proq kristallar toping</h2>
    </div>
    
    <div class="share-links">
        <div class="text">
            <h3>Youtube darslar</h3>
        </div>
        <a href="#" class="logo-share">
            <img src="{% static 'images/Youtube.png' %}" alt="friends">
            <div>
                <div class="friends">Kiberxavfsizlik darslari </div>
                <span class="olmas">💎</span> <span class="priz">+2</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
        <a href="#" class="logo-share">
            <img src="{% static 'images/Youtube.png' %}" alt="friends">
            <div>
                <div class="friends">Kiberxavfsizlik darslari</div>
                <span class="olmas">💎</span> <span class="priz">+2</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
    <div class="share-links">
        <div class="text">
            <h3>Telegram kanallar</h3>
        </div>
        <a href="#" class="logo-share">
            <img src="../static/images/telegram (1).png" alt="friends">
            <div>
                <div class="friends">Kiberxavfsizlik darslari</div>
                <span class="olmas">💎</span> <span class="priz">+2</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
        <a href="#" class="logo-share">
            <img src="../static/images/telegram (1).png" alt="friends">
            <div>
                <div class="friends">Kiberxavfsizlik darslari</div>
                <span class="olmas">💎</span> <span class="priz">+2</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
    <div class="share-links oxiri">
        <div class="text">
            <h3>Do'stlarni taklif qilish</h3>
        </div>
        <a href="#" class="logo-share">
            <img src="{% static 'images/person.png' %}" alt="friends">
            <div>
                <div class="friends">Kiberxavfsizlik darslari</div>
                <span class="olmas">💎</span> <span class="priz">+2</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
        <a href="#" class="logo-share">
            <img src="{% static 'images/person.png' %}" alt="friends">
            <div>
                <div class="friends">Kiberxavfsizlik darslari</div>
                <span class="olmas">💎</span> <span class="priz">+2</span>
            </div>
            <div class="links">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
    
    {% endblock content %}