{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <!-- Markaziy kontent -->
    <div class="main-content">
        <img src="{% static 'images/security.png' %}" alt="logo">
        <h2>Natijalar</h2> 
    </div>

    <!-- Token va Withdrawal tugmachalari -->
    <div class="tab-buttons">
        <a href="{% url 'style' %}">Yulduzlar</a>
        <a href="{% url 'style' %}" class="active">Reyting</a>
    </div>
   
    <div class="share-links">
        {% for entry in users_with_ball %}
        <a href="#" class="logo-share">
            <img src="{% static 'images/person.png' %}" alt="friends">
            <div>
                <div class="friends">{{ entry.first_name }}</div>
                <span class="olmas">⭐️</span> <span class="priz">{{ entry.all_ball|default:0 }}</span>
            </div>
            <div class="links" style="color: aliceblue;">
                #{{ forloop.counter }}
            </div>
        </a>
        {% endfor %}
    </div>
    {% endblock content %}