{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <!-- Markaziy kontent -->
    <div class="main-content">
        <img src="{% static 'images/security.png' %}" alt="logo">
        <h2>Siz yig'gan yulduzlar</h2>
    </div>

    <!-- Token va Withdrawal tugmachalari -->
    <div class="tab-buttons">
        <a href="{% url 'style' %}">Yulduzlar</a>
        <a href="{% url 'style' %}" class="active">Reyting</a>
    </div>

  
    <div class="stats">
        <a href="#"><span>Direct claim</span><i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="stats">
        <a href="#"><span>Direct claim</span><i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="stats">
        <a href="#"><span>Direct claim</span><i class="fa-solid fa-chevron-right"></i></a>
    </div>
    {% endblock content %}