{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <!-- Markaziy kontent -->
    <div class="main-content">
        <img src="{% static 'images/security.png' %}" alt="logo">
        <h2>Siz yig'gan yulduzlar</h2>
        <!-- <a href="#" class="btn-hmstr">$HMSTR</a>
        <p>token bozorda</p> -->
    </div>

    <!-- Token va Withdrawal tugmachalari -->
    <div class="tab-buttons">
        <a href="{% url 'style' %}" class="active">Yulduzlar</a>
        <a href="#" onclick="showNotification()">Reyting</a>
    </div>

    <!-- Statistik ma'lumot -->
    <div class="stats">
        {% if ball %}
        <p><span>You Tube</span><span>⭐️{{ball.youtube_ball}}</span></p>
        <p><span>Telegram</span><span>⭐️{{ball.telegram_ball}}</span></p>
        <p><span>Instagram</span><span>⭐️{{ball.instagram_ball}}</span></p>
        <p><span>Do'stlar</span><span>⭐️{{ball.friends_ball}}</span></p>
        <p><span>Jami:</span><span>⭐️{{ball.all_ball}}</span></p>
        {% else %}
        <p><span>You Tube</span><span>⭐️ 0</span></p>
        <p><span>Telegram</span><span>⭐️ 0</span></p>
        <p><span>Instagram</span><span>⭐️ 0</span></p>
        <p><span>Do'stlar</span><span>⭐️ 0</span></p>
        <p><span>Jami:</span><span>⭐️ 0</span></p>
        {% endif %}
    </div>


    <script>
        function showNotification() {
            // Bildirishnomalarni qo'llab-quvvatlayotganligini tekshirish
            if (!("Notification" in window)) {
                alert("Brauzeringiz bildirishnomalarni qo'llab-quvvatlamaydi.");
            } else if (Notification.permission === "granted") {
                new Notification("Tez kunda");
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission().then(permission => {
                    if (permission === "granted") {
                        new Notification("Tez kunda");
                    }
                });
            }
        }
    </script>

    {% endblock content %}