{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <!-- Markaziy kontent -->
    <div class="main-content">
        <img src="{% static 'images/gif_logo.gif' %}" alt="logo">
        <h2>Buni epladik!</h2>
        <!-- <a href="#" class="btn-hmstr">$HMSTR</a>
        <p>token bozorda</p> -->
    </div>

    <!-- Token va Withdrawal tugmachalari -->
    <div class="tab-buttons">
        <a href="{% url 'style' %}" class="active">Olmoslar</a>
        <a href="{% url 'style2' %}">Withdrawal</a>
    </div>

    <!-- Statistik ma'lumot -->
    <div class="stats">
        <p><span>You Tube</span><span>💎15</span></p>
        <p><span>Telegram</span><span>💎20</span></p>
        <p><span>Do'stlar</span><span>💎50</span></p>
        <p><span>Jami:</span><span>💎85</span></p>
    </div>

    {% endblock content %}